a.navbar-brand>* {

    font-size: 25px;
    line-height: 1;
    margin: 0px;
    text-align: center;
    vertical-align: middle;

}

.navbar-brand {
    font-family: $fontLogo;
    font-weight: 400;
}

h1.navbar-brand {
    color: white;
    font-size: 48px;
    text-align: center;
}